<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h4>Available Browserify Javascript Libraries</h4>
    <dl>
      <% for( property in libs ) { %>
      <dt><%= property %></dt>
      <dd><%= libs[property].library %> ->
        <a href="http://localhost:8080/browserify?lib=<%= libs[property].options.expose %>"><%= libs[property].options.expose %></a>
      </dd>
      <% } %>
    </dl>
  </body>
</html>